@model WebStoreApp.Web.Models.LocationViewModel

<partial name="_CreateModal" model=Model></partial>

<h1>@Html.DisplayFor(model => model.Location.Name)</h1>
<button id="btn-create" class="btn btn-primary">Create New Product</button>

@if (@Model.State == "create")
{
    <script type="text/javascript">
        window.addEventListener("DOMContentLoaded", (event) => {
            document.getElementById("create-modal").style.display = "block";
        });
    </script>
}

<partial name="_ProductsTable" model=Model></partial>

<script type="text/javascript" src="~/js/modal.js"></script>