@using WebStoreApp.Web.Models
@model LocationViewModel

@await Html.PartialAsync("_CreateModal", Model)
@await Html.PartialAsync("_EditModal", new ProductEditViewModel { LocationId = Model.Id })
@await Html.PartialAsync("_DeleteModal", new ProductDeleteViewModel { LocationId = Model.Id })

<h1>@Html.DisplayFor(model => model.Location.Name)</h1>
<button id="btn-create" class="btn btn-primary">Create New Product</button>

@if (@Model.State == "create")
{
    <script type="text/javascript">
        window.addEventListener("DOMContentLoaded", (event) => {
            document.getElementById("create-modal").style.display = "block";
        });
    </script>
}

@await Html.PartialAsync("_ProductsTable", new ProductsViewModel { LocationId = Model.Id, Products = Model.Products })

<script type="text/javascript" src="~/js/modal.js"></script>