@using WebStoreApp.Web.Models
@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-6 text-center">
            <a asp-action="Index" asp-controller="Locations" class="btn btn-primary m-3">View Locations</a>
            <br><a asp-action="Login" asp-controller="User" class= "btn btn-primary m-3">New User?</a>
        </div>
        <div class="col-6">
            @await Html.PartialAsync("_Login", new LoginModel())
        </div>
    </div>
</div>