@model WebStoreApp.Web.Models.LocationModel

<form method="post" asp-action="Index">
    <div class="form-group">
        <label asp-for="LocationName" class="control-label"></label>
        <input asp-for="LocationName" class="form-control" />
        <span asp-validation-for="LocationName" class="text-danger"></span>
    </div>
    <input type="submit" value="Create" />
</form>