@model WebStoreApp.Web.Models.LocationModel

<form method="post" asp-action="Index">
    <div>
        <label asp-for="LocationName" ></label>
        <input asp-for="LocationName"/>
        <input type="submit" value="Create" />
    </div>
    <span asp-validation-for="LocationName" class="text-danger"></span>
</form>