@model WebStoreApp.Web.Models.LocationModel

<div id="edit-modal" class="modal">
    <div class="modal-content">
        <h4>Edit Location Details</h4>
        <form method="POST" asp-action="Edit">
            <input type="hidden" id="edit-location-id" asp-for="LocationId" />
            <div class="form-group">
                <label asp-for="LocationName" class="control-label"></label>
                <input asp-for="LocationName" id="edit-location-name" class="form-control">
            </div>
            <input type="submit" value="Edit" class="btn btn-primary" /> 
        </form>
    </div>
</div>