@model WebStoreApp.Web.Models.LocationsViewModel
@{
    ViewData["Title"] = "Locations Directory";
}
<h1>Locations Directory</h1>

<div class="container-fluid">
    @if (ViewData["role"] as string == "Admin") {
        @await Html.PartialAsync("_CreateLocation", Model.LocationModel)
        @await Html.PartialAsync("_DeleteLocation", new LocationModel())
        @await Html.PartialAsync("_EditLocation", new LocationModel())
    }
    <table class="table table-hover">
        <thead>
            <tr class="d-flex">
                <th class="col-8">
                    @Html.DisplayNameFor(model => model.LocationsModel.LocationModels[0].LocationName)
                </th>
                <th class="col-4"></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var locationModel in Model.LocationsModel.LocationModels)
        {
            <tr class="d-flex">
                <td class="col-8">
                    <strong>@Html.DisplayFor(m => locationModel.LocationName)</strong>
                </td>
                <td class="col-4">
                    @if (ViewData["Role"] as string == "Admin") {
                        <button type="button" id="btnDelete@(locationModel.LocationId)" class="btn btn-secondary" data-toggle="modal" data-target="#deleteModal">Delete</button>
                        <button type="button" id="btnEdit@(locationModel.LocationId)" class="btn btn-secondary" data-toggle="modal" data-target="#editModal">Edit</button>
                    }
                    <a asp-controller="Location" asp-action="Index" asp-route-id="@locationModel.LocationId" class="btn btn-secondary">Details</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@if (ViewData["role"] as string == "Admin") {
    <script>
        const locations = JSON.parse('@Html.Raw(Json.Serialize(Model.LocationsModel.LocationModels))');
        locations.forEach(location => {
            document.getElementById("btnDelete" + location.locationId).addEventListener("click", () => {
                document.getElementById("delete-location-name").textContent = location.locationName;
                document.getElementById("delete-location-id").value = location.locationId;
            });

            document.getElementById("btnEdit" + location.locationId).addEventListener("click", () => {
                document.getElementById("edit-location-id").value = location.locationId;
                document.getElementById("edit-location-name").value = location.locationName;
            });
        });
    </script>
}