.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #FFFFFF80;
}

.modal-content
{
    width: 60%;
    margin: 10% auto;
    padding: 10%;
}