@model WebStoreApp.Web.Models.UserModel

<label asp-for="Username" class="control-label"></label>
@Html.DisplayFor(m => Model.Username)
<label asp-for="FirstName" class="control-label"></label>
@Html.DisplayFor(m => Model.FirstName)
<label asp-for="LastName" class="control-label"></label>
@Html.DisplayFor(m => Model.LastName)