@using WebStoreApp.Web.Models
@model WebStoreApp.Web.Models.LoginRegisterViewModel

<div class="row align-items-center">
    <div class="col-6">
        @await Html.PartialAsync("_Register", Model.RegisterModel)
    </div>
    <div class="col-6">
        @await Html.PartialAsync("_Login", Model.LoginModel)
    </div>
</div>